body {
	background-color: #87CEEB;
	background-image: linear-gradient(#87CEEB 64%, #FFFFFF 100%);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
	max-width: 100vw;
}

#wrapper {
	min-height: 100vh;
	display: block;
}

nav {
	width: 100%;
	text-align: center;
	margin-top: 5px;
	font-family: Arial, sans-serif;
}

nav ul li {
	display: inline;
	margin: 2%;
}

nav ul li a {
	text-decoration: none;
	color: #08F;
	font-size: 20pt;
	position: relative;
	font-weight: bold;
}

nav ul li:not(:nth-child(3)) a {
	top: -18px;
}

nav ul li a:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 3px;
	bottom: 0;
	left: 0;
	background-color: #08F;
	visibility: hidden;
	transform: scaleX(0);
	transition: all 0.3s ease-in-out 0s;
}

nav ul li a:hover:before {
	visibility: visible;
	transform: scaleX(1);
}

main {
	width: 64%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
}

main .floatLeft {
	float: left;
	width: 45%;
}

main .floatRight {
	float: right;
	width: 45%;
}

main .clearFloat {
	clear: both;
}

main .boxContent {
	background-color: #964B00;
	border: 8px outset #9F8170;
	border-radius: 15px;
	padding: 15px;
	margin-bottom: 15px;
}

main .boxContent h1 {
	font-family: Arial, sans-serif;
	color: #2DBDF6;
	margin: 5px;
}

main .boxContent p, main .boxContent a {
	margin: 5px;
	text-indent: 12px;
	line-height: 1.3;
	color: #F0EAD6;
}

main .boxContent a {
	text-decoration: none;
}

main .boxContent a:hover {
	text-decoration: underline;
}

#heroImage {
	width: 100%;
	height: 80vh;
	margin-left: auto;
	margin-right: auto;
	background-image: url(img/hero.png);
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	margin-bottom: 15px;
	border-radius: 5px;
}

#heroImage * {
	position: relative;
}

#heroImage h1 {
	font-size: 50px;
	font-family: Arial, sans-serif;
	color: #2DBDF6;
	font-weight: bold;
	background-color: #964B00;
	top: 30%;
	padding-top: 5px;
	padding-bottom: 5px;
}

#heroImage p {
	background-color: #964B00;
	padding-top: 15px;
	padding-bottom: 15px;
	top: 33%;
	font-size: 30px;
	color: #F0EAD6;
}

#heroImage #playButton {
	top: 40%;
}

#heroImage #playButton a {
	background-color: #964B00;
	padding: 15px;
	border-radius: 1600px;
	text-decoration: none;
	font-family: Arial, sans-serif;
	color: #F0EAD6;
	border: 5px outset #9F8170;
}

#heroImage #playButton a:hover {
	background-color: #7B3F00;
}

#heroImage #playButton a:active {
	border-style: inset;
}

footer {
	background-color: #964B00;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
	text-align: center;
	margin-top: 5px;
}

footer p {
	margin: 5px;
	color: #F0EAD6;
}

footer a {
	color: #F0EAD6;
	text-decoration: none;
}

footer a:hover {
	text-decoration: underline;
}