body {
	background-color: #87CEEB;
	background-image: linear-gradient(#87CEEB 64%, #FFFFFF 100%);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
	max-width: 100vw;
}

#wrapper {
	min-height: 100vh;
	display: block;
}

nav {
	width: 100%;
	text-align: center;
	margin-top: 5px;
}

nav ul li {
	display: inline;
	margin: 3%;
}

nav ul li a {
	text-decoration: none;
	color: #00F;
	font-size: 20pt;
	position: relative;
}

nav ul li:not(:nth-child(3)) a {
	top: -18px;
}

nav ul li a:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #00F;
	visibility: hidden;
	transform: scaleX(0);
	transition: all 0.3s ease-in-out 0s;
}

nav ul li a:hover:before {
	visibility: visible;
	transform: scaleX(1);
}

main {
	width: 64%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
}

#heroImage {
	width: 100%;
	height: 80vh;
	margin-left: auto;
	margin-right: auto;
	background-image: url(img/map.png);
	background-repeat: no-repeat;
	background-size: cover;
	/* Note: Should probably get someone to put together a concept map image... for the time being, this'll have to do */
	text-align: center;
}

#heroImage * {
	position: relative;
}

#heroImage h1 {
	font-size: 50px;
	font-family: Arial, sans-serif;
	color: #00F;
	font-weight: bold;
	background-color: #964B00;
	top: 30%;
	padding-top: 5px;
	padding-bottom: 5px;
}

#heroImage p {
	background-color: #964B00;
	padding-top: 15px;
	padding-bottom: 15px;
	top: 33%;
	font-size: 30px;
}

#heroImage #playButton {
	top: 40%;
}

#heroImage #playButton a {
	background-color: #964B00;
	padding: 15px;
	border-radius: 1600px;
	text-decoration: none;
	font-family: Arial, sans-serif;
	color: #F0EAD6;
}

#heroImage #playButton a:hover {
	background-color: #9F8170;
}

footer {
	background-color: #964B00;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 5px;
}

footer p {
	margin: 5px;
	color: #F0EAD6;
}

footer a {
	color: #F0EAD6;
	text-decoration: none;
}

footer a:hover {
	text-decoration: underline;
}